<style>

  .container { font-family: Arial, sans-serif; text-align: center; width: 100%;
  margin: 50px auto; background: white; padding: 20px; border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); } .logo { width: 150px;
  margin-bottom: 20px; } h1 { color: #28a745; } p { color: #555; } .button {
  display: inline-block; padding: 10px 20px; margin-top: 20px; color: white;
  background-color: #28a745; text-decoration: none; border-radius: 5px;
  font-size: 16px; } .button:hover { background-color: #218838; }
</style>
<div class="container">
  <img class="logo" src="/assets/img/Logo.png" alt="logo" />
  <h1>Correo verificado correctamente</h1>
  <p>Tu cuenta ha sido verificada con éxito. Ahora puedes iniciar sesión y
    disfrutar de nuestros servicios.</p>
</div>